.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100px;
}

.spinnerItem {
  width: 20px;
  height: 20px;
  background-color: #4fa94d;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
